@import '@styles/base';

.card {
  @include flex-items-center;
  border-radius: 1rem;
  gap: 1rem;
  @include apply-at-md-size {
    box-shadow: 7px 7px 9px -6px #555555;
    gap: 0;
  }
  &__left {
    @include flex-center;
    @include box(3.5rem);
    background-color: $color-white;
    box-sizing: border-box;
    border: 5px solid;
    cursor: pointer;
    border-radius: 50%;
    @include apply-at-md-size {
      border-radius: 1rem 0 0 1rem;
    }

    &:hover {
      background-color: $color-button;
    }
  }
  &__right {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      'item1 item1 item1 item4'
      'item2 item2 item2 item4'
      'item3 item3 item3 item4';
    @include box(12rem, 8rem);
    gap: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
    border-radius: 1rem;
    padding: 1rem;
    @include apply-at-md-size {
      @include flex-items-center;
      flex-direction: row;
      @include box(auto, 3.5rem);
      background-color: $color-white;
      box-sizing: border-box;
      padding: 1rem;
      border-radius: 0 1rem 1rem 0;
      gap: 3.5rem;
      box-shadow: none;
    }
  }
  &__title {
    @include flex-column;
    width: 100%;
    grid-area: item1;
    @include apply-at-md-size {
      width: 10rem;
    }
    &__content {
      font-size: 0.8rem;
      color: $color-text-primary;
      font-weight: 500;
      @include truncate(auto);
      @include apply-at-md-size {
        @include truncate(10rem);
      }
    }
  }
  &__label {
    font-size: 0.75rem;
    color: $color-text-secondary;
  }
  &__priority {
    @include flex-column;
    width: 100%;
    grid-area: item2;
    @include apply-at-md-size {
      width: 2rem;
    }
    &__content {
      font-size: 0.8rem;
      font-weight: 600;
    }
  }
  &__status {
    @include flex-column;
    width: fit-content;
    grid-area: item3;
    @include apply-at-md-size {
      width: 6rem;
    }
    &__content {
      font-size: 0.65rem;
      font-weight: 700;
      padding: 0.1rem 0.25rem;
      border-radius: 5px;
      width: fit-content;
      color: $color-white;
    }
  }
  &__actions {
    grid-area: item4;
    @include flex-column;
    justify-content: center;
    align-items: end;
    gap: 1rem;
    @include apply-at-md-size {
      @include flex-items-center;
      flex-direction: row;
      gap: 1rem;
    }

    &__icon {
      width: 1.25rem !important;
      cursor: pointer;
      &:hover {
        opacity: 70%;
      }
    }
    &__view {
      color: $color-button;
    }
    &__edit {
      color: $color-text-primary;
    }
    &__delete {
      color: $color-red;
    }
  }
}

.dialog {
  &__title {
    font-family: 'Poppins', sans-serif !important;
  }
  &__content {
    font-size: 0.9rem;
  }
  &__button {
    padding: 0.25rem 0.5rem;

    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 0.25rem;
    font-size: 0.8rem;
  }
  &__cancel {
    box-sizing: border-box;
    border: 1px solid $color-text-primary;
    &:hover {
      color: $color-white;
      background-color: $color-text-primary;
    }
  }
  &__delete {
    box-sizing: border-box;
    background-color: $color-red;
    color: $color-white;
    font-weight: 600;
    &:hover {
      color: $color-red;
      background-color: $color-white;
      border: 1px solid;
    }
  }
}

.icon1 {
  color: $color-text-secondary;
}

.icon2 {
  color: $color-yellow;
}

.icon3 {
  color: $color-green;
}

.todo {
  border-color: $color-text-secondary;
  &:hover {
    background-color: $color-text-secondary;
    .icon1 {
      color: $color-white;
    }
  }
}

.in_progress {
  border-color: $color-yellow;
  &:hover {
    background-color: $color-yellow;
    .icon2 {
      color: $color-white;
    }
  }
}

.done {
  border-color: $color-green;
  &:hover {
    background-color: $color-green;
    .icon3 {
      color: $color-white;
    }
  }
}

.todo2 {
  background-color: $color-text-secondary;
}

.in_progress2 {
  background-color: $color-yellow;
}

.done2 {
  background-color: $color-green;
}

.low {
  color: $color-green;
}

.medium {
  color: $color-yellow;
}

.high {
  color: $color-red;
}
