@import '@styles/base';

.card {
  @include flex-center;
  border-radius: 1rem;
  border: 5px dashed $color-text-secondary;
  width: 33.5rem;
  height: 3rem;
  cursor: pointer;
  &:hover {
    border-color: $color-button;
    .card__icon {
      color: $color-button;
    }
  }
  &__icon {
    color: $color-text-secondary;
  }
}
