@import '../../styles/base.scss';
.containerform{
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    .containerCard{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        .priorityCard{
            padding: 30px 30px;
            border: hsl(229, 37%, 71%) 1px solid;
            border-radius: 10px;
            margin-top: 10px;
            display:  flex;
            flex-direction: row;
            flex-wrap: wrap;
            &:hover{
                border: hsl(229, 79%, 35%) 1px solid !important;
            }
            cursor: pointer;
        }
        .highPriority {
            background-color: $color-red; 
            color: $color-white; 
        }
        .lowPriority {
            background-color: $color-green; 
            color: $color-white; 
        }
        .mediumPriority {
            background-color: $color-yellow; 
            color: $color-white; 
        }
        .wrapperDescription{
            width: 100%;
        }
        
    }
}
.description{
    width: 100%;
    height: 215px;
    background-color: white !important; 
}

